  <!DOCTYPE HTML>
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Loading...</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">
    
      <!-- Theme Style -->
      <link rel="stylesheet" type="text/css" href="/static/dist/src/app/css/owl.carousel.min.css">
      <script defer src="/static/dist/src/app/js/chunk-vendors.js"></script><script defer src="/static/dist/src/app/js/app.js"></script>
      </head>
    <body data-spy="scroll" data-target="#templateux-navbar" data-offset="200">
      <div id="app"></div>

      <script defer type="application/javascript" src="/static/dist/src/app/js/jquery-3.4.1.min.js"></script>
      <script defer type="application/javascript" src="/static/dist/src/app/js/jquery-migrate-3.0.1.min.js"></script>
      <script defer type="application/javascript" src="/static/dist/src/app/js/popper.min.js"></script>
      <script defer type="application/javascript" src="/static/dist/src/app/js/bootstrap.min.js"></script>
      <script defer type="application/javascript" src="/static/dist/src/app/js/owl.carousel.min.js"></script>
      <script defer type="application/javascript" src="/static/dist/src/app/js/jquery.stellar.min.js"></script>
      <script defer type="application/javascript" src="/static/dist/src/app/js/jquery.fancybox.min.js"></script>
      <script defer type="application/javascript" src="/static/dist/src/app/js/jquery.easing.1.3.js"></script>
      
      <script defer type="application/javascript" src="/static/dist/src/app/js/aos.js"></script>
      
      <script defer type="application/javascript" src="/static/dist/src/app/js/bootstrap-datepicker.js"></script> 
      <script defer type="application/javascript" src="/static/dist/src/app/js/jquery.timepicker.min.js"></script> 

      <script defer type="application/javascript" src="/static/dist/src/app/js/main.js"></script>
      
    </body>
  </html>