{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Loading... </title>
        <link rel="shortcut icon" href="/static/dist/src/ecomm/assets/images/logo/favourite_icon_01.png">

        <!-- jquery ui - css include -->
        <link rel="stylesheet" type="text/css" href="/static/dist/src/ecomm/assets/css/jquery-ui.css">
        <script defer src="/static/dist/src/ecomm/js/chunk-vendors.js"></script><script defer src="/static/dist/src/ecomm/js/app.js"></script>
    </head>


    <body class="home_carparts" >


        <!-- backtotop - start -->
        <div id="thetop"></div>
        <div class="backtotop" data-bg-color="#000000">
            <a href="#" class="scroll">
                <i class="far fa-arrow-up"></i>
            </a>
        </div>
        <!-- backtotop - end -->

        <!-- preloader - start -->
        <!-- <div id="preloader"></div> -->
        <!-- preloader - end -->


        

        <div id="app"></div>

        <!-- shop_section - end
            ================================================== -->
    
        <!-- fraimwork - jquery include -->
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/jquery-3.5.1.min.js"></script>
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/bootstrap.min.js"></script>
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/popper.min.js"></script>
        
        <!-- mobile menu - jquery include -->
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/mCustomScrollbar.js"></script>

        <!-- animation - jquery include -->
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/parallaxie.js"></script>
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/wow.min.js"></script>

        <!-- nice select - jquery include -->
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/nice-select.min.js"></script>

        <!-- carousel - jquery include -->
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/slick.min.js"></script>

        <!-- countdown timer - jquery include -->
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/countdown.js"></script>

        <!-- popup images & videos - jquery include -->
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/magnific-popup.min.js"></script>

        <!-- filtering & masonry layout - jquery include -->
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/isotope.pkgd.min.js"></script>
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/masonry.pkgd.min.js"></script>
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/imagesloaded.pkgd.min.js"></script>

        <!-- jquery ui - jquery include -->
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/jquery-ui.js"></script>
        <script defer src="/static/dist/src/ecomm/js/chunk-vendors.js"></script><script defer src="/static/dist/src/ecomm/js/app.js"></script>
        <!-- custom - jquery include -->
        <script type="application/javascript" defer src="/static/dist/src/ecomm/assets/js/custom.js"></script>
         
    </body>
</html>