{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>B.O.S.S. | Welcome</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <script defer src="{% static 'dist/src/js/chunk-vendors.js' %}"></script><script defer src="{% static 'dist/src/js/app.js' %}"></script></head>

<body>

       <div id="app"></div>

    <!-- JavaScript Libraries -->
    <script defer type="application/javascript" src="{% static 'dist/src/bubbles/js/jquery-3.4.1.min.js' %}"  ></script>
    <script type="application/javascript" src="{% static 'dist/src/bubbles/lib/bootstrap.bundle.min.js' %}" defer ></script>
    <script type="application/javascript" src="{% static 'dist/src/bubbles/lib/chart/chart.min.js' %}" defer ></script>
    <script defer type="application/javascript" src="{% static 'dist/src/bubbles/lib/easing/easing.min.js' %}"></script>
    <script defer type="application/javascript" src="{% static 'dist/src/bubbles/lib/waypoints/waypoints.min.js' %}"></script>
    <script defer type="application/javascript" src="{% static 'dist/src/bubbles/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'dist/src/bubbles/lib/tempusdominus/js/moment.min.js' %}" defer ></script>
    <script type="application/javascript" src="{% static 'dist/src/bubbles/lib/tempusdominus/js/moment-timezone.min.js' %}" defer ></script>
    <script type="application/javascript" src="{% static 'dist/src/bubbles/lib/tempusdominus/js' %]/tempusdominus-bootstrap-4.min.js' %}" defer ></script>

    <!-- Template Javascript -->
    <script type="application/javascript" src="{% static 'dist/src/bubbles/js/main.js' %}" defer ></script>
</body>

</html>
